
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
	margin-top: 0.9em;
}

h1, h2, h3, h4, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

p {
	font-size: 1.4em;
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.img {
	margin-right: auto;
	margin-left: auto;
}

.img-icon {
	max-width: 150px;
}

.img-feature {
	max-width: 100%;
}

.img-feature-landscape {
	max-width: 100%;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.intro {
	padding-top: 2em;
}

/* Full Page Image Header Area */

.appstore {
	margin-top: 2em;
	width: 200px;
}

.row-padding {
	padding-top: 3em;
	padding-bottom: 3em;
}

.row-last {
	padding-top: 2em;
	padding-bottom: 5em;
}

.copy {
	color: #999;
}

.header-contents {
	min-height: 100%;
}

.header {
  color: #FFF;
  display: table;
  width: 100%;
  position: 0;
  background: url(../img/header_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-title {
	margin-top: 0;
	font-weight: 300;
}

.blue {
	background-color: #e6f1fb;
	width: 100%;
	padding: 30px;
}

.callout {
  color: #ffffff;
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 5em;
	color: #444;
	color: #fff;
}

@media screen and ( min-width: 700px ) {
  .col-point {
	padding-top: 5em;
	}
}

.center {
	text-align: center;
}

.verticle-center {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-box-pack: center;
	box-pack: center;
}